<section class="landingPageContainer">
  <div class="navBarContainer">
  <% if current_user %>
    <%= render "shared/nav_bar" %>
  <% else %>
    <%= render "shared/landing_nav_bar" %>
  <% end %>
  </div>
  <div  class="signIn">
  <% if !current_user %>
  <nav class="sign-in">
    <p>Already a Member?</p>
    <a href="/users/sign_in" class="sign-in-button">Sign In</a>
  </nav>
  <% end %>
  </div>
  <div class="landingbox">
    <div class="mainpagebox">
      <h1>Get Motivated</h1>
      <p>Find a gym buddy</p>
      <p>Meet new people</p>
      <a href="#meetYourMatch"><button>Learn More</button></a>

    </div>
    <div class="mainpagebox2">
      <h1>Find Your Fitness</h1>
      <p>Search your area</p>
      <p>Get active</p>
      <a href="/users/sign_up"><button>Join Now</button></a>
    </div>
  </div>
</section>

<section class="landingSectionStyle meetMatch" id="meetYourMatch">
  <h1>Meet Your Match</h1>
  <h2>Find a gym buddy</h2>
  <div class="sectionCopy">
    <p>Gymme will match you with a gym partner based on your location, availability and fitness interests.</p>
    <p>Prepare to meet your match.</p>
  </div>
  <a href="#" class="joinNow">Join Now</a>
</section>
<section class="findBalance">
  <div class="landingSectionStyle balanceBox">
    <h1>Find Balance</h1>
    <h2>Search for events nearby</h2>
    <p>Find the right fit for your schedule</p>
    <a href="#" class="joinNow">Join now</a>
  </div>
</section>

<section class="landingSectionStyle" id="findEvent">
  <div class="eventBox">
    <h1>Find an Event</h1>
    <h2>Join events nearby</h2>
    <div class="sectionCopy">
      <p>Gymme will help you find an event based on your location, and fitness interests.</p>
    </div>
    <a href="#" class="joinNow">Join Now</a>
  </div>
</section>
<section class="testimonials landingSectionStyle">
  <h1>Testimonials</h1>
  <div class="owl-carousel owl-theme">
    <div class="testimonialBox">
      <div class="divCircle"><%= image_tag("kristin.png") %></div>
      <h3>Kristin</h3>
      <p class="testimonialText">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="testimonialBox">
      <div class="divCircle"><%= image_tag("rob.png") %></div>
      <h3>Rob</h3>
      <p class="testimonialText">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="testimonialBox">
      <div class="divCircle"><%= image_tag("travis.png") %></div>
      <h3>Travis</h3>
      <p class="testimonialText">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="testimonialBox">
      <div class="divCircle"><%= image_tag("ray.png") %></div>
      <h3>Ray</h3>
      <p class="testimonialText">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
</section>
