<div class="conversaionShowPageContainer">
  <div class="navBarContainer">
    <% if current_user %>
    <%= render "shared/nav_bar" %>
    <% else %>
    <%= render "shared/landing_nav_bar" %>
    <% end %>
  </div>

  <div id="conversation-main">
    <div class="convoHeadingContainer">
      <div class="backButton">
        <%= link_to conversations_path do %>
          <<
        <% end %>
      </div>
      <div class="convoUserFlexContainer">
        <%= link_to user_url(@conversation.with(current_user).id) do %>
        <div class="userChatAvatar">
          <% if @conversation.with(current_user).avatar.attached? %>
          <div class="avatar">
            <%= image_tag url_for(@conversation.with(current_user).avatar) %>
          </div>
          <% else %>
          <div class="avatar">
            <%= image_tag(user_avatar(@conversation.with(current_user))) %>
          </div>
          <% end %>
        </div>
        <h1 class="convoUserHeadingName"><%= full_name(@conversation.with(current_user)) %></h1>
        <% end %>
      </div>
    </div>
    <div id="conversation-body" data-conversation-id="<%= @conversation.id %>">
      <%= render @conversation.personal_messages %>
    </div>
    <div class="submitMessageContainer">
      <p class="convoSendNote">return/enter</p>

      <%= form_for @personal_message do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
      <%= f.text_area :body %>
      <br>

      <% end %>
    </div>
  </div>
</div>
