<section class="profileContainer">
  <div class="navBarContainer">
    <% if current_user %>
    <%= render "shared/nav_bar" %>
    <% else %>
    <%= render "shared/landing_nav_bar" %>
    <% end %>
  </div>

  <section class="user-profile-card">
    <div class="flex-profile-card">
      <div class="profileSideFlexContainer">
        <% if @user.avatar.attached? %>
        <div class="profile-avatar">
          <%= image_tag url_for(@user.avatar) %>
        </div>
        <% else %>
        <div class="profile-avatar">
          <%= image_tag url_for(user_avatar(@user)) %>
        </div>
        <% end %>

        <% if current_user != @user %>
        <div class="messageButtonFlex">
          <button class="messageButton">
            <%= link_to "Message", new_personal_message_path(receiver_id: params[:id]) %>
          </button>
        </div>
        <% end %>
      </div>
      <div class="profile-info">
        <div class="userNameContainer">
          <div class="user-name">
            <% if @user.avatar.attached? %>
            <div class="profile-avatar-small">
              <%= image_tag url_for(@user.avatar) %>
            </div>
            <% else %>
            <div class="profile-avatar">
              <%= image_tag url_for(user_avatar(@user)) %>
            </div>
            <% end %>
            <h1><%= full_name(@user) %></h1>
          </div>
          <div class="messageButtonSmallContainer">
            <% if current_user != @user %>
              <button class="messageButtonSmall">
                <%= link_to "Message", new_personal_message_path(receiver_id: params[:id]) %>
              </button>
            <% end %>
          </div>
        </div>
        <div class="profileCard">
          <div class="profile-item">
            <h2>Age:</h2> <h3><%= @user.age %></h3>
          </div>
          <div class="profile-item">
            <h2>Gender:</h2> <h3><%= @user.gender %></h3>
          </div>
          <div class="profile-item">
            <h2>Fitness Level:</h2> <h3><%= @user.fitness_level %></h3>
          </div>
        </div>
        <div class="profileCard">
          <div class="profile-item">
            <h2>Preferred Workout Location:</h2> <h3><%= @user.location %></h3>
          </div>
          <div class="profile-item">
            <h2>Availability:</h2>
            <div class="scheduleProfile">
              <div class="dayOfWeekLabels">
              </div>
              <div class="scheduleFlex">
                <div class="schedule-day timeOfDayLabels">
                  <h4 class="label-style-schedule">Morning</h4>
                  <h4 class="label-style-schedule">Afternoon</h4>
                  <h4 class="label-style-schedule">Evening</h4>
                </div>
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">MON</h4>
                  <div class="<%= availabilityMatch?(@user, 'mon_morn') %>" id="monMorn"></div>
                  <div class="<%= availabilityMatch?(@user, 'mon_aft') %>" id="monAft"></div>
                  <div class="<%= availabilityMatch?(@user, 'mon_eve') %>" id="monEve"></div>
                </div>
                <div class="schedule-day">
                  <div class="schedule-day">
                    <h4 class="label-style-schedule scheduleShowLabel">TUE</h4>
                    <div class="<%= availabilityMatch?(@user, 'tues_morn') %>" id="tuesMorn"></div>
                    <div class="<%= availabilityMatch?(@user, 'tues_aft') %>" id="tuesAft"></div>
                    <div class="<%= availabilityMatch?(@user, 'tues_eve') %>" id="tuesEve"></div>
                  </div>
                </div>
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">WED</h4>
                  <div class="<%= availabilityMatch?(@user, 'wed_morn') %>" id="wedMorn"></div>
                  <div class="<%= availabilityMatch?(@user, 'wed_aft') %>" id="wedAft"></div>
                  <div class="<%= availabilityMatch?(@user, 'wed_eve') %>" id="wedEve"></div>
                </div>
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">THU</h4>
                  <div class="<%= availabilityMatch?(@user, 'thurs_morn') %>" id="thursMorn"></div>
                  <div class="<%= availabilityMatch?(@user, 'thurs_aft') %>" id="thursAft"></div>
                  <div class="<%= availabilityMatch?(@user, 'thurs_eve') %>" id="thursEve"></div>
                </div>
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">FRI</h4>
                  <div class="<%= availabilityMatch?(@user, 'fri_morn') %>" id="friMorn"></div>
                  <div class="<%= availabilityMatch?(@user, 'fri_aft') %>" id="friAft"></div>
                  <div class="<%= availabilityMatch?(@user, 'fri_eve') %>" id="friEve"></div>
                </div>
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">SAT</h4>
                  <div class="<%= availabilityMatch?(@user, 'sat_morn') %>" id="satMorn"></div>
                  <div class="<%= availabilityMatch?(@user, 'sat_aft') %>" id="satAft"></div>
                  <div class="<%= availabilityMatch?(@user, 'sat_eve') %>" id="satEve"></div>
                </div>
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">SUN</h4>
                  <div class="<%= availabilityMatch?(@user, 'sun_morn') %>" id="sunMorn"></div>
                  <div class="<%= availabilityMatch?(@user, 'sun_aft') %>" id="sunAft"></div>
                  <div class="<%= availabilityMatch?(@user, 'sun_eve') %>" id="sunEve"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profileCard lastProfileCard">
          <div class="profile-item">
            <p><%= @user.description %></p>
          </div>
        </div>
      </div>
    </div>

    <% if @user == current_user %>
    <div class="iconFlexContainer">
      <div class="icon-button">
        <%= link_to edit_user_path(current_user.id) do %>
        <%= image_tag("settings.svg") %>
      </div>
      <h2>Edit Profile</h2>
      <% end %>
    </div>
    <% end %>
</section>
