<% if @user.avatar.attached? %>
  <div class="profile-avatar">
    <%= image_tag url_for(@user.avatar) %>
  </div>
<% else %>
  <div class="profile-avatar">
    <%= image_tag(user_avatar(@user)) %>
  </div>


<% end %>

    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h4>Age: <%= @user.age %></h4>
    <h4>Preferred Workout Location:</h4>
    <p><%= @user.location %></p>
    <h4>Gender: <%= @user.gender %></h4>
    <h4>Fitness Level: <%= @user.fitness_level %></h4>
    <h4>Workout Schedule: <%= @user.day %></h4>
    <h4><%= @user.time_of_day %></h4>
    <h4>About Me:</h4>
    <p><%= @user.description %></p>

  <%= link_to 'Send a message', new_personal_message_path(receiver_id: params[:id]) %>

<% if @user == current_user %>
  <div class="icon-button" id="close-button">
    <%= link_to edit_user_path(current_user.id) do %>
      <%= image_tag("settings.svg") %>
    <% end %>
  </div>
<% end %>
