<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>

<section class="user-profile-card">
  <div class="flex-profile-card">
    <div class="profile-info">
      <div class="user-name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
      <div class="profile-card">
        <div class="profile-item">
          <h2>Age:</h2> <h3><%= @user.age %></h3>
        </div>
        <div class="profile-item">
          <h2>Gender:</h2> <h3><%= @user.gender %></h3>
        </div>
        <div class="profile-item">
          <h2>Fitness Level:</h2> <h3><%= @user.fitness_level %></h3>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-item">
          <h2>Preferred Workout Location:</h2> <h3><%= @user.location %></h3>
        </div>
        <div class="profile-item">
          <h2>Availability:</h2>
          <div class="scheduleProfile">
            <div class="dayOfWeekLabels">
            </div>
            <div class="scheduleFlex">
              <div class="schedule-day timeOfDayLabels">
                <h4 class="label-style-schedule">Morning</h4>
                <h4 class="label-style-schedule">Afternoon</h4>
                <h4 class="label-style-schedule">Evening</h4>
              </div>
              <div class="schedule-day">
                <h4 class="label-style-schedule scheduleShowLabel">MON</h4>
                <% if @user.availability.include?('mon_morn') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="monMorn"></div>
                <% else %>
                  <div class="scheduleSquare" id="monMorn"></div>
                <% end %>
                <% if @user.availability.include?('mon_aft') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="monAft"></div>
                <% else %>
                  <div class="scheduleSquare" id="monAft"></div>
                <% end %>
                <% if @user.availability.include?('mon_eve') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="monEve"></div>
                <% else %>
                  <div class="scheduleSquare" id="monEve"></div>
                <% end %>
              </div>
              <div class="schedule-day">
                <div class="schedule-day">
                  <h4 class="label-style-schedule scheduleShowLabel">TUE</h4>
                  <% if @user.availability.include?('tues_morn') %>
                    <div class="scheduleSquare scheduleSquareAvailable" id="tuesMorn"></div>
                  <% else %>
                    <div class="scheduleSquare" id="tuesMorn"></div>
                  <% end %>
                  <% if @user.availability.include?('tues_aft') %>
                    <div class="scheduleSquare scheduleSquareAvailable" id="tuesAft"></div>
                  <% else %>
                    <div class="scheduleSquare" id="tuesAft"></div>
                  <% end %>
                  <% if @user.availability.include?('tues_eve') %>
                    <div class="scheduleSquare scheduleSquareAvailable" id="tuesEve"></div>
                  <% else %>
                    <div class="scheduleSquare" id="tuesEve"></div>
                  <% end %>
                </div>
              </div>
              <div class="schedule-day">
                <h4 class="label-style-schedule scheduleShowLabel">WED</h4>
                <% if @user.availability.include?('wed_morn') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="wedMorn"></div>
                <% else %>
                  <div class="scheduleSquare" id="wedMorn"></div>
                <% end %>
                <% if @user.availability.include?('wed_aft') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="wedAft"></div>
                <% else %>
                  <div class="scheduleSquare" id="wedAft"></div>
                <% end %>
                <% if @user.availability.include?('wed_eve') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="wedEve"></div>
                <% else %>
                  <div class="scheduleSquare" id="wedEve"></div>
                <% end %>
              </div>
              <div class="schedule-day">
                <h4 class="label-style-schedule scheduleShowLabel">THU</h4>
                <% if @user.availability.include?('thurs_morn') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="thursMorn"></div>
                <% else %>
                  <div class="scheduleSquare" id="thursMorn"></div>
                <% end %>
                <% if @user.availability.include?('thurs_aft') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="thursAft"></div>
                <% else %>
                  <div class="scheduleSquare" id="thursAft"></div>
                <% end %>
                <% if @user.availability.include?('thurs_eve') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="thursEve"></div>
                <% else %>
                  <div class="scheduleSquare" id="thursEve"></div>
                <% end %>
              </div>
              <div class="schedule-day">
                <h4 class="label-style-schedule scheduleShowLabel">FRI</h4>
                <% if @user.availability.include?('fri_morn') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="friMorn"></div>
                <% else %>
                  <div class="scheduleSquare" id="friMorn"></div>
                <% end %>
                <% if @user.availability.include?('fri_aft') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="friAft"></div>
                <% else %>
                  <div class="scheduleSquare" id="friAft"></div>
                <% end %>
                <% if @user.availability.include?('fri_eve') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="friEve"></div>
                <% else %>
                  <div class="scheduleSquare" id="friEve"></div>
                <% end %>
              </div>
              <div class="schedule-day">
                <h4 class="label-style-schedule scheduleShowLabel">SAT</h4>
                <% if @user.availability.include?('sat_morn') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="satMorn"></div>
                <% else %>
                  <div class="scheduleSquare" id="satMorn"></div>
                <% end %>
                <% if @user.availability.include?('sat_aft') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="satAft"></div>
                <% else %>
                  <div class="scheduleSquare" id="satAft"></div>
                <% end %>
                <% if @user.availability.include?('sat_eve') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="satEve"></div>
                <% else %>
                  <div class="scheduleSquare" id="satEve"></div>
                <% end %>
              </div>
              <div class="schedule-day">
                <h4 class="label-style-schedule scheduleShowLabel">SUN</h4>
                <% if @user.availability.include?('sun_morn') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="sunMorn"></div>
                <% else %>
                  <div class="scheduleSquare" id="sunMorn"></div>
                <% end %>
                <% if @user.availability.include?('sun_aft') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="sunAft"></div>
                <% else %>
                  <div class="scheduleSquare" id="sunAft"></div>
                <% end %>
                <% if @user.availability.include?('sun_eve') %>
                  <div class="scheduleSquare scheduleSquareAvailable" id="sunEve"></div>
                <% else %>
                  <div class="scheduleSquare" id="sunEve"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-item">
          <p><%= @user.description %></p>
        </div>
      </div>
    </div>
    <% if @user.avatar.attached? %>
      <div class="profile-avatar">
        <%= image_tag url_for(@user.avatar) %>
      </div>
    <% end %>


    <% if current_user != @user %>
      <div class="icon-button message">
        <%= link_to image_tag("noun_message.png", class:"send-message-icon"), new_personal_message_path(receiver_id: params[:id]) %>
      </div>
    <% end %>
  </div>

<% if @user == current_user %>
  <div class="icon-button">
    <%= link_to edit_user_path(current_user.id) do %>
      <%= image_tag("settings.svg") %>
    <% end %>
  </div>
<% end %>
