<h1>User Profile Page</h1>

  <% if @user.avatar.attached? %>
    <div class="avatar">
      <%= image_tag url_for(@user.avatar) %>
    </div>
  <% end %>

<table class="user_profile_table">
  <tbody>
    <tr><%= @user.first_name %> <%= @user.last_name %></tr>
    <p>Age</p>
    <tr><%= @user.age %></tr>
    <h4>Address</h4>
    <tr><%= @user.country %></tr>
    <tr><%= @user.province %></tr>
    <tr><%= @user.city %></tr>
    <tr><%= @user.street_address %></tr>
    <h4>Gender</h4>
    <tr><%= @user.sex %></tr>
    <h4>Fitness Level</h4>
    <tr><%= @user.fitness_level %></tr>
    <h4>About Me</h4>
    <tr><%= @user.description %></tr>
  </tbody>
</table>

<% if @user.avatar.attached? %>
  <div class="avatar">
    <%= image_tag url_for(@user.avatar) %>
  </div>
<% end %>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h4>Age: <%= @user.age %></h4>
    <h4>Preferred Workout Location: <%= @user.location %></h4>
    <h4>Gender: <%= @user.gender %></h4>
    <h4>Fitness Level: <%= @user.fitness_level %></h4>
    <h4>About Me:</h4>
    <p><%= @user.description %></p>


<% if @user == current_user %>
  <% if @events.length > 0 %>
    <h2>Events Im Attending</h2>
    <% @events.each do |event| %>
      <p><%= link_to event.title, event_url(event.id)%></p>
      <p><%= event.activity_type %></p>
      <p><%= event.time %></p>
      <p><%= event.description %></p>
    <% end %>
  <% end %>
  <% if @owned_events.length > 0 %>
    <h2>My Events</h2>
      <% @owned_events.each do |event| %>
      <p><%= link_to event.title, event_url(event.id)%></p>
      <p><%= event.activity_type %></p>
      <p><%= event.time %></p>
      <p><%= event.description %></p>
      <% end %>
    <% end %>

  <%= link_to "Edit my profile", edit_user_path(current_user.id) %>
<%end %>
