<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>

<section class="user-profile-card profile">
<% if @user.avatar.attached? %>
  <div class="profile-avatar">
    <%= image_tag url_for(@user.avatar) %>
  </div>
<% else %>
  <div class="profile-avatar">
    <%= image_tag(user_avatar(@user)) %>
  </div>


<% end %>

    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p>Age: <%= @user.age %><p>
    <p>Preferred Workout Location:<p>
    <p><%= @user.location %></p>
    <p>Gender: <%= @user.gender %></p>
    <p>Fitness Level: <%= @user.fitness_level %></p>
    <p>Workout Schedule: <%= @user.day %></p>
    <p><%= @user.time_of_day %></p>
    <p>About Me:</p>
    <p><%= @user.description %></p>

  <% if current_user != @user %>
    <div class="icon-button message">
      <%= link_to image_tag("noun_message.png", class:"send-message-icon"), new_personal_message_path(receiver_id: params[:id]) %>
    </div>
  <% end %>

<% if @user == current_user %>
  <div class="icon-button">
    <%= link_to edit_user_path(current_user.id) do %>
      <%= image_tag("settings.svg") %>
    <% end %>
  </div>
<% end %>
