  <% if @user.avatar.attached? %>
    <div class="avatar">
      <%= image_tag url_for(@user.avatar) %>
    </div>
  <% end %>

    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h4>Age: <%= @user.age %></h4>
    <h4>Preferred Workout Location:</h4>
    <p><%= @user.location %></p>
    <h4>Gender: <%= @user.gender %></h4>
    <h4>Fitness Level: <%= @user.fitness_level %></h4>
    <h4>About Me:</h4>
    <p><%= @user.description %></p>

 <%= link_to 'send a message', new_personal_message_path(receiver_id: params[:id]) %>



  <%= link_to "Edit my profile", edit_user_path(current_user.id) %>
