<section class="user-profile-card">
<% if @user.avatar.attached? %>
  <div class="profile-avatar">
    <%= image_tag url_for(@user.avatar) %>
  </div>
<% else %>
  <div class="profile-avatar">
    <%= image_tag(user_avatar(@user)) %>
  </div>


<% end %>

    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p>Age: <%= @user.age %><p>
    <p>Preferred Workout Location:<p>
    <p><%= @user.location %></p>
    <p>Gender: <%= @user.gender %></p>
    <p>Fitness Level: <%= @user.fitness_level %></p>
    <p>Workout Schedule: <%= @user.day %></p>
    <p><%= @user.time_of_day %></p>
    <p>About Me:</p>
    <p><%= @user.description %></p>

  <%= link_to image_tag("noun_message.png", class:"send-message-icon"), new_personal_message_path(receiver_id: params[:id]) %>

  <%= link_to "Edit my profile", edit_user_path(current_user.id) %>

  </section>
