<h1>User Profile Page</h1>
<% if image_tag url_for(@user.avatar) !== nil %>
 <%= image_tag url_for(@user.avatar)%>


  <%end %>
<table class="user_profile_table">
  <tbody>
    <tr><%= @user.first_name %> <%= @user.last_name %></tr>
    <p>Age</p>
    <tr><%= @user.age %></tr>
    <h4>Address</h4>
    <tr><%= @user.country %></tr>
    <tr><%= @user.province %></tr>
    <tr><%= @user.city %></tr>
    <tr><%= @user.street_address %></tr>
    <h4>Gender</h4>
    <tr><%= @user.sex %></tr>
    <h4>Fitness Level</h4>
    <tr><%= @user.fitness_level %></tr>
    <h4>About Me</h4>
    <tr><%= @user.description %></tr>
  </tbody>
</table>
<h2>Events Im Attending</h2>
<% @events.each do |event| %>
  <p><%= link_to event.title, event_url(event.id)%></p>
  <p><%= event.activity_type %></p>
  <p><%= event.time %></p>
  <p><%= event.description %></p>
<% end %>

<% if @owned_events.length > 0 %>
  <h2>My Events</h2>
  <% @owned_events.each do |event| %>
    <p><%= link_to event.title, event_url(event.id)%></p>
    <p><%= event.activity_type %></p>
    <p><%= event.time %></p>
    <p><%= event.description %></p>
  <% end %>
<% end %>


<%= link_to "Edit my profile", edit_user_path(current_user.id) %>
