<% if current_user %>
<nav class="nav-bar">
    <ul class="nav-bar-items">
      <div class="nav-button">
        <%= link_to home_path(current_user.id) do %>
          <li class="icon nav-item"><%= image_tag("home.svg") %></li>
          <li class="desktop nav-item"> Home </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to discover_path do %>
          <li class="icon nav-item"><%= image_tag("search.svg") %></li>
          <li class="desktop nav-item"> Discover Events </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to gymbuddy_path do %>
          <li class="icon nav-item"><%= image_tag("group.svg") %></li>
          <li class="desktop nav-item"> Find Gym Buddy </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to conversations_path do %>
          <li class="icon nav-item"><%= image_tag("envelope.svg") %></li>
          <li class="desktop nav-item"> Messages </li>
        <% end %>
      </div>
    </ul>
</nav>
<% end %>
