<%= form_for event do |f| %>

<p><%= f.label :title %></p>
<p><%= f.text_field :title, placeholder: "Event title"%></p>

<p><%= f.label :activity_type %></p>
<p><%= f.select :activity_type, ["Cardio", "Weight Lifting", "Boxing", "Yoga", "Cross Fit", "Swimming"]%></p>

<p><%= f.label "Start Date" %></p>
<p><%= f.date_field :time %></p>

<p><%= f.label "End Date" %></p>
<p><%= f.date_field :end_date %></p>

<div class="persistence">
<p><%=f.label "Persistence"  %></p>
<p><%=f.check_box :persistence %></p>
</div>
<p><%= f.label :address %></p>

<p><%= f.text_field :address, placeholder: "Address" %></p>


<p><%= f.label :description %></p>
<p><%= f.text_area :description, placeholder: "What kind of event?" %></p>

<p><%= f.label "Available Spots" %></p>
<p><%= f.number_field :capacity %></p>

<div class="field">
  <p><%= f.label "Private Event?" %></p>
  <%= f.label :need_approval, "Yes", :value => "true" %>
  <%= f.radio_button  :need_approval, true %>
  <%= f.label :need_approval, "No", :value => "false"  %>
  <%= f.radio_button :need_approval, false, :checked => true %>
</div>

<p><%= f.submit "Submit" %></p>

<% end %>
