<%= form_for event do |f| %>

  <div class="form-item">
    <p><%= f.label "Where will your event be located?" %></p>
    <p><%= f.text_field :address, placeholder: "ex. Toronto, ON" %></p>
  </div>


  <div class="form-item">
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, placeholder: "Event title"%></p>
  </div>


  <div class="form-item">
    <p><%= f.label :activity_type %></p>
    <p><%= f.select :activity_type, ["Yoga/Pilates", "Resistence Training", "Cardio", "Recreation"]%></p>
  </div>


  <div class="form-item">
    <p><%= f.label "Start time" %></p>
    <p><%= f.datetime_field :time %></p>
  </div>


  <div class="form-item">
    <p><%= f.label :description %></p>
    <p><%= f.text_area :description, placeholder: "What kind of event?" %></p>
  </div>


  <div class="form-item">
    <p><%= f.label "Available Spots" %></p>
    <p><%= f.number_field :capacity %></p>
  </div>


  <div class="form-item">
    <p><%= f.submit "Submit" %></p>
  </div>

<% end %>
