<!-- Check if user is signed in, and if they have joined the event  -->

<% if @event.capacity %>
<div class="ticketAttendance">
  <div class="ticketSpots">Spots Left</div>
  <p><%= @event.capacity %></p>
</div>
<% else %>
<div class="ticketAttendance">
  <p><%= @event.users.length %> attending</p>
</div>
<% end %>
<% if current_user == @event.owner %>
  <%= link_to "Edit Event", edit_event_path(@event.id) %>
<% elsif joined_event? %>
  <p class="ticketJoinedMessage">You're on the list!</p>
  <%= link_to "Can't Go", event_ticket_path(@event.id, @ticket.id), method: :delete %>
<% elsif current_user && current_user != @event.owner && @event.capacity > 0 %>
  <%= button_to "Join Event", event_tickets_path(@event) %>
<% elsif @event.capacity == 0 %>
  <div class="ticketAttendance">
    <h4>Event is currently full.</h4>
  </div>
<% elsif !current_user %>
  <div class="ticketAttendance">
    <h4><%= link_to "Log-in", new_user_session_path %> to join event</h4>
  </div>
<% end %>
