<%= form_for event do |f| %>

<p><%= f.label :title %></p>
<p><%= f.text_field :title, placeholder: "Event title"%></p>

<p><%= f.label :activity_type %></p>
<p><%= f.text_field :activity_type, placeholder: "Activity Type" %></p>

<p><%= f.label :time %></p>
<p><%= f.datetime_field :time, placeholder: "Time"  %></p>

<p><%= f.label :location %></p>
<p><%= f.text_field :location, placeholder: "Location" %></p>

<p><%= f.label :description %></p>
<p><%= f.text_area :description, placeholder: "Description" %></p>

<p><%= f.submit "Create event" %></p>

<% end %>
