<%= form_for event do |f| %>

<p><%= f.label :title %></p>
<p><%= f.text_field :title %></p>

<p><%= f.label :activity_type %></p>
<p><%= f.text_field :activity_type %></p>

<p><%= f.label :time %></p>
<p><%= f.datetime_field :time %></p>

<p><%= f.label :location %></p>
<p><%= f.text_field :location %></p>

<p><%= f.label :description %></p>
<p><%= f.text_area :description %></p>

<p><%= f.label :capacity %></p>
<p><%= f.number_field :capacity %></p>

<div class="field">
  <p><%= f.label "Private Event?" %></p>
  <%= f.label :need_approval, "Yes", :value => "true" %>
  <%= f.radio_button  :need_approval, true %>
  <%= f.label :need_approval, "No", :value => "false"  %>
  <%= f.radio_button :need_approval, false, :checked => true %>
</div>

<p><%= f.submit "Create event" %></p>

<% end %>
