<% if current_user %>
  <header class="event-index">
    <h1>Events</h1>
    <nav class="search">
      <%= form_tag events_path, method: :get do %>
        <%= label_tag "Activity Type" %>
        <%= select_tag :activity_type, options_for_select(["Cardio", "Weight Lifting", "Boxing", "Yoga", "Cross Fit", "Swimming"]), include_blank: true  %>
        <br>
        <%= label_tag "Search Name" %>
        <%= text_field_tag :search %>

        <%= submit_tag "Find Event" %>
      <% end %>
    </nav>
  </header>
<% end %>
