<% if current_user %>
  <h1>All Events</h1>

  <%= form_tag events_path, method: :get do %>
    <%=text_field_tag :search %>
    <%= submit_tag "Find Event" %>
  <% end %>

  <% @events.each do |event| %>
    <h3><%= link_to event.title, event_url(event.id)%></h3>
    <p>Event Description: <%= event.description %></p>
    <p>Event Address: <%= event.address %></p>
    <p>When: <%= event.time %></p>
  <% end %>
<% end %>
