<header class="event-index">
  <h1>Discover Events</h1>
  <nav class="search">
    <%= form_tag events_path, method: :get do %>

        <%= label_tag "Activity Type" %>
        <%= select_tag :activity_type, options_for_select(["Cardio", "Weight Lifting", "Boxing", "Yoga", "Cross Fit", "Swimming"], selected: params[:activity_type]), include_blank: true %>
        <br>
        <%= label_tag "Events Nearby:" %>
        <%= text_field_tag :search, params[:search] %>

        <%= submit_tag "Find Event" %>
   <% end %>

      <!-- eventsMap is the map -->
      <div id ="eventsMap" ></div>

      <% @events.each do | event | %>
      <div class ="eventsLatLong" data-latitude="<%= event.latitude %>" data-longitude="<%= event.longitude %>"></div>
      <div class="eventsMarkerTitle" data-title="<%= event.title %>"></div>
      <%end %>
    </nav>


</header>

<section class="event-reults">
  <% @events.each do |event| %>
    <div class="event-card">
      <h3><%= link_to event.title, event_url(event.id)%></h3>
      <p>Event Description: <%= event.description %></p>
      <p>Activity Type: <%= event.activity_type %></p>
      <p>Event Address: <%= event.address %></p>
      <p>When: <%= event.time.strftime("%m/%d/%Y at %I:%M%p") %></p>
    </div>
  <% end %>
</section>
