<% if current_user %>
  <header class="event-index">
    <h1>All Events</h1>
    <nav class="search">
      <%= form_tag events_path, method: :get do %>
        <%= label_tag "Search Location" %>
        <%=text_field_tag :search, params[:search], placeholder: "type address for location" %>
        <%= submit_tag "Find Event" %>
      <% end %>
     <div class="distance">
         
     </div>
    </nav>


  </header>

  <section class="event-reults">
    <% @events.each do |event| %>
      <div class="event-card">
        <h3><%= link_to event.title, event_url(event.id)%></h3>
        <p>Event Description: <%= event.description %></p>
        <p>Event Address: <%= event.address %></p>
        <p>When: <%= event.time.strftime("%m/%d/%Y at %I:%M%p") %></p>
      </div>
    <% end %>
  </section>
<% end %>
