<h1 id="eventName"><%= @event.title %></h1>

<p>Created by: <%= link_to @event.owner.email, user_path(@event.owner.id) %></p>

<!-- Check if user is signed in, and if they have joined this event  -->
<% if current_user == @event.owner %>
  <%= link_to "edit event", edit_event_path(@event.id) %>
<% elsif joined_event? %>
  <h4>You are signed up for this event!</h4>
  <%= link_to "Cancel rsvp", event_ticket_path(@event.id, @ticket.id), method: :delete %>
<% elsif current_user != @event.owner && @event.capacity > 0 %>
  <%= button_to "Join Event", event_tickets_path(@event) %>
<% elsif @event.capacity == 0 %>
  <h4>Event is currently full.</h4>
<% elsif !current_user %>
  <h4><%= link_to "Log-in", new_user_session_path %> to join event</h4>
<% end %>


<p>Where: <%= @event.address %></p>
<p>When: <%= @event.time %></p>

<p>Description: <%= @event.description %></p>
<!-- GOOGLE MAPS-->
<div id="map" data-latitude="<%= @event.latitude %>" data-longitude="<%= @event.longitude %>"></div>
<div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
</div>

<p>description: <%= @event.description %></p>


<p><%= @event.time %></p>
<p><%= @event.activity_type %></p>
<% if @event.capacity %>
  <p>(<%= @event.users.length %> attending)</p>
  <p>Tickets Remaining: <%= @event.capacity %></p>
<% end %>


<% if current_user && joined_event? %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.email %></p>
      <p><%= comment.body %></p>
      <p><em><%= comment.created_at.strftime("%m/%d/%Y at %I:%M%p") %></em></p>
      <!-- Check if user created comment to have authorization to delete it  -->
      <% if comment.user.id == current_user.id %>
        <%= button_to "delete comment", event_comment_path(@event, comment.id), data: { confirm: "Are you sure?" }, method: :delete %>
      <% end %>
    </div>
  <% end %>

  <%= form_for( @comment, url: event_comments_path(@event.id) ) do |f| %>
    <div class="field">
      <%= f.label "Leave a comment" %><br/>
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit "Comment" %>
    </div>
  <% end %>

<% end %>
