<!DOCTYPE html>
<html>
  <head>
    <title>GymMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_maps_api_key"] %>&callback=initMap">
    </script>
  </head>

  <body>
    <header>
      <h1 class="logo">Gym Me</h1>

      <nav class="top-nav">

        <% if current_user %>
          <p>Logged in: <%= current_user.email %></p>
          <%= link_to "Create Event", new_event_path %> |
          <%= link_to "All Events", events_path %> |
          <%= link_to "My Profile", user_path(current_user.id) %> |
          <%= link_to "New Chat Room", new_chat_room_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log-in", new_user_session_path %> |
          <%= link_to "Register", new_user_registration_url %>
        <% end %>

      </nav>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
