<!DOCTYPE html>
<html>
  <head>
    <title>GymMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="logo">Gym Me</h1>
    <nav class="top-nav">
      <%= link_to "Create Event", new_event_url %>
      <%= link_to "All Events", events_url %>


    </nav>
    <%= yield %>
  </body>
</html>
