<!DOCTYPE html>
<html>
  <head>
    <title>GymMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV["google_maps_api_key"]}&libraries=places" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <% if current_user %>
      <div class="user-options-modal hidden" id="user-menu">
        <%= link_to new_event_path do %>
          <div class="user-options-item">Create Event</div>
        <% end %>
        <%= link_to user_path(current_user.id) do %>
          <div class="user-options-item">My Profile</div>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="user-options-item">Logout</div>
        <% end %>
        <p class="current-user"><%= current_user.email %></p>
      </div>
    <% end %>

    <nav class="user-nav">
      <div class="profile-button" id="profile-avatar-button">
        <div class="avatar">
          <%= image_tag("jimmy.png") %>
        </div>
        <span>&#x25BC;</span>
      </div>
    </nav>

    <header class="top-nav">
        <% if current_user %>
        <div class="logo">
          <%= image_tag("steam.png", class: "logo-image", alt: "Gym Me Logo") %>
          <h1 class="logo">Gym Me </h1>
        </div>
        <nav class="top-nav-items">
          <div class="nav-item">
            <%= link_to "Discover Events", discover_path %>
          </div>
          <div class="nav-item">
            <%= link_to "Home", home_path(current_user.id) %>
          </div>
          <div class="nav-item">
            <%= link_to "Find Gym Buddy", gymbuddy_path %>
          </div>
        <% else %>
        <div class="nav-item">
          <%= link_to "Log-in", new_user_session_path %>
        </div>
        <div class="nav-item">
          <%= link_to "Discover Events", discover_path %>
        </div>
        <% end %>
        </nav>

    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
