<!DOCTYPE html>
<html>
  <head>
    <title>GymMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="logo">Gym Me</h1>
    <%= form_tag events_path, method: :get do %>
      <%=text_field_tag :search %>
      <%= submit_tag %>

    <%end %>
    <nav class="top-nav">

      <% if user_signed_in? %>
        <p>'Hello <%= current_user.email %>!'</p>
       <%= link_to "Create Event", new_event_path %> |
        <%= link_to "All Events", events_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%else %>
          <%= link_to "Register", new_user_registration_url %>
      <% end %>


    </nav>
    <%= yield %>
  </body>
</html>
