<!DOCTYPE html>
<html>
  <head>
    <title>GymMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV["GOOGLE_MAP_API_K"]}&libraries=places" %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Raleway|Roboto" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <!-- Renders user avatar and drop down menu -->
    <%= render "shared/user_menu" %>

    <!-- Renders main nav bar -->
    <% if current_user %>
      <%= render "shared/nav_bar" %>
    <% else %>
      <%= render "shared/landing_nav_bar" %>
    <% end %>

    <% if !current_user %>
    <nav class="sign-in">
      <p>Already a User?</p>
      <div class="sign-in-button" id="sign-in-button"><p>Sign In</p></div>
    </nav>
    <% end %>


    <section class="container">
      <%= yield %>
    </section>

  </body>

</html>
